@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img src="/img/Logo.png" width="200" height="200" />
    <h1 class="display-4">Restore Monarchy</h1>
    <p>Simplicity over Complexity!</p>
</div>
<a class="twitter-timeline" href="https://twitter.com/RestoreMonarchy?ref_src=twsrc%5Etfw"></a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 