@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img src="/img/Logo.png" width="200" height="200" />
    <h1 class="display-4" style="margin-top: -40px;">Restore Monarchy</h1>
    <p>Simplicity over Complexity!</p>
</div>