@{
    ViewData["Title"] = "Home";
}

<div class="b-example-divider"></div>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/img/Logo_Flat.png" alt="" style="max-height: 100px;">
    <h1 class="display-5 fw-bold">Restore Monarchy</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Simplicity over Complexity!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/discord" class="btn btn-primary btn-lg px-4 gap-3">
                Join Discord
            </a>
            <a href="/github" class="btn btn-outline-secondary btn-lg px-4">
                Go to GitHub
            </a>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container col-xxl-8 px-4 py-5" id="unturnedstore">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/img/Projects/UnturnedStore.png" class="d-block mx-lg-auto img-fluid img-thumbnail" style="max-height: 500px;" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Unturned Store</h1>
            <p class="lead">UnturnedStore.com is a non-profit service that allows direct transactions between sellers (plugin developers) & customers.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="https://unturnedstore.com" class="btn btn-primary btn-lg px-4 me-md-2">
                    Visit UnturnedStore.com
                </a>
            </div>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container my-5" id="shearlegs">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Shearlegs</h1>
            <p class="lead">Shearlegs is .NET software for executing tasks. It contains a user friendly web interface and custom framework for creating tasks in .NET 5</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a href="https://github.com/Shearlegs" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">
                    Go to Website
                </a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
            <img class="rounded-lg-3" src="/img/Projects/Shearlegs.png" alt="" width="720">
        </div>
    </div>
</div>

<div class="b-example-divider"></div>