@{
    ViewData["Title"] = "Plugins";
    IEnumerable<PluginCard> cards = new List<PluginCard>()
    {
        new PluginCard("MoreHomes", "morehomes.png"),
        new PluginCard("AirdropManager", "airdropmanager.png"),
        new PluginCard("Teleportation", "teleportation.png"),
        new PluginCard("SellDoor", "selldoor.png"),
        new PluginCard("Pickpocket", "pickpocket.jpg"),
        new PluginCard("GreenCoords", "greencoords.png"),
        new PluginCard("EnjinAutoDonator", "enjinautodonator.png")
    };

    IEnumerable<PaidPluginCard> paidPluginCards = new List<PaidPluginCard>()
    {
        new PaidPluginCard("Moderation", "moderation.png", 10),
        new PaidPluginCard("ChallengeRewards", "challengerewards.png", 20),
        new PaidPluginCard("DropBoxes", "dropboxes.png", 15),
        new PaidPluginCard("Keycards", "keycards.png", 12),
        new PaidPluginCard("SellStorage", "sellstorage.png", 15),
        new PaidPluginCard("Challenge", "challenge.png", 10),
        new PaidPluginCard("InfoRestorer", "inforestorer.png", 7),
        new PaidPluginCard("UBankRobbery", "ubankrobbery.png", 8),
        new PaidPluginCard("UPets", "upets.png", 15),
        new PaidPluginCard("UAuction", "uauction.png", 15)
    };
}

<div class="jumbotron d-flex">
    <img src="~/img/Plugins/unturned.png" width="40" height="40" class="align-self-center" />
    <h2 class="ml-2 align-self-center">Unturned Plugins</h2>
</div>
<div class="row justify-content-center">
    @foreach (var card in cards)
    {
        <div class="card">
            <div class="card-body d-flex">
                <img src="/img/Plugins/@card.IconName" width="45" height="45" class="align-self-center" />
                <h5 class="ml-2 align-self-center">@card.Name</h5>
            </div>
            <div class="card-footer text-muted">
                <a href="https://github.com/RestoreMonarchyPlugins/@card.Name" target="_blank" class="btn btn-secondary btn-sm">Github</a>
                <a href="https://github.com/RestoreMonarchyPlugins/@card.Name/releases/latest" target="_blank" class="btn btn-primary btn-sm">Download</a>
            </div>
        </div>
}
    @foreach (var card in paidPluginCards)
    {
        <div class="card">
            <div class="card-body d-flex">
                <img src="/img/Plugins/@card.IconName" width="45" height="45" class="align-self-center" />
                <h5 class="ml-2 align-self-center">@card.Name</h5>
            </div>
            <div class="card-footer text-muted">
                <a href="https://imperialplugins.com/Unturned/Products/@card.Name" target="_blank" class="btn btn-primary btn-sm">Buy for @card.Price.ToString("C")</a>
            </div>
        </div>
}
</div>

<style>
    .card {
        width: 250px;
        margin: 10px;
    }
</style>
    
 