@{
    ViewData["Title"] = "Projects";
}

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card">
            <img src="/img/Projects/UnturnedStrike.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Unturned Strike</h5>
                <p class="card-text">Unturned Strike is Counter Strike game mode on Unturned.</p>
            </div>
            <div class="card-footer text-muted">
                <a href="https://unturnedstrike.com" target="_blank">Website</a>
                <a href="https://github.com/UnturnedStrike" target="_blank">Github</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <img src="/img/Projects/Marketplace.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Marketplace</h5>
                <p class="card-text">Marketplace is an app for your Unturned server where players can sell their items or buy them from others.</p>
            </div>
            <div class="card-footer text-muted">
                <a href="https://marketplace.restoremonarchy.com/" target="_blank">Demo</a>
                <a href="https://github.com/RestoreMonarchy/Marketplace-Web" target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>