@{
    ViewData["Title"] = "Projects";
}

<div class="row">
    <div class="col mb-4">
        <div class="card">
            <img src="/img/Projects/UnturnedStrike.jpg" class="card-img-top" style="max-width: 400px; max-height: 200px;">
            <div class="card-body">
                <h5 class="card-title">Unturned Strike</h5>
                <p class="card-text">Unturned Strike is a Counter Strike Casual game mode for Unturned, developed by MCrow.</p>
            </div>
            <div class="card-footer text-muted">
                <a href="https://unturnedstrike.com" target="_blank">Website</a>
                <a href="https://github.com/UnturnedStrike" target="_blank">Github</a>
            </div>
        </div>
        <div class="card">
            <img src="/img/Projects/Unturned.png" class="card-img-top card-project-image">
            <div class="card-body">
                <h5 class="card-title">Restore Monarchy Plugins</h5>
                <p class="card-text">Restore Monarchy Plugins is organization of free and paid plugins for Unturned made by MCrow and BraianKant</p>
            </div>
            <div class="card-footer text-muted">
                <a href="https://github.com/RestoreMonarchyPlugins" target="_blank">Github</a>  
                <a href="https://imperialplugins.com/Merchant/RestoreMonarchy-Plugins" target="_blank">Merchant</a>
            </div>
        </div>
    </div>
</div>