@{
    ViewData["Title"] = "Projects";
}

<div class="row">
    <div class="col-md-6 mb-4">
        <div class="card">
            <img src="/img/Projects/UnturnedStrike.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Unturned Strike</h5>
                <p class="card-text">Unturned Strike is Counter Strike game mode on Unturned.</p>
            </div>
            <div class="card-footer text-muted">
                <a href="https://unturnedstrike.com" target="_blank">Website</a>
                <a href="https://github.com/UnturnedStrike" target="_blank">Github</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <img src="/img/Projects/UnturnedRocks.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Unturned Rocks</h5>
                <p class="card-text">Unturned Rocks is Unturned servers network.</p>
            </div>
            <div class="card-footer text-muted">
                <a href="https://unturned.rocks/" target="_blank">Website</a>
            </div>
        </div>
    </div>
</div>