@{
    ViewData["Title"] = "Team";
}

    <div class="jumbotron">
        <h2>Our Team</h2>
        <hr class="my-4">
        <div class="row">
            <div class="col-lg-4">
                <div class="text-center">
                    <img src="~/img/Team/MCrow.png" class="rounded-circle" width="200" height="200" />
                    <h3>MCrow</h3>
                    <p class="lead">C#, SQL, PHP, JS, C++</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center">
                    <img src="~/img/Team/BraianKant.png" class="rounded-circle" width="200" height="200" />
                    <h3>BraianKant</h3>
                    <p class="lead">C#, Java, Kotlin</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center">
                    <img src="~/img/Team/Sqidrod.png" class="rounded-circle" width="200" height="200" />
                    <h3>Sqidrod</h3>
                    <p class="lead">C#, PHP, JS, Java, SQL, C, MSIL, ASM</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center">
                    <img src="~/img/Team/Rety.png" class="rounded-circle" width="200" height="200" />
                    <h3>The Rety</h3>
                    <p class="lead">JS</p>
                </div>
            </div>
        </div>        
    </div>

